#menu li {
    display : block;
    float   : left;
    width   : 50%;
}
#menu li * {
    display : block;
    width   : 100%;
    
}
#menu code {
    display : block;
    width   : 100%;
    height: 100%;
    
}

h3{
    text-align: center;
}

#imgnous{
    float: left;
    margin: 2%;
    margin-right: 4%;
}

#simpleText{
    margin: 2%;
    text-align: justify;
    
}

#origin, #modified{
    height: 420px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#listemenuprincipal{
    text-align: center;
}

li{
    padding-bottom: 4px;
}